/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 body {
    font-family: Josefin Sans;
    background: linear-gradient(0.25turn, #c47561e8, #cbcec800, #ba6bbdc7);
 }
 .notice,#dropdownMenuButton1{
    background-color: #dc3545;
}
 .notice,#dropdownMenuButton2{
    background-color: #1CA884;
}
.card-event{
    background: linear-gradient(45deg,#e66465, #9198e5);
}
.module-border-wrap {
    padding: 1rem;
    background: linear-gradient(45deg,#e66465, #9198e5);
    padding: 5px;
    border-radius: 10px;
}
  
.module {
    background: #2222228e;
    color: white;
}
.field{
    margin: 20px;
}
.anim{
    background-color: #dc3545;
    border-radius: 50px;
    padding: 5px;
    transition: all 2.5s ease-out;
}
.anim:hover{
    background-color: #1CA884;
    transform: scale(1.2);
    border-radius: 50%;
    padding: 80px;
    margin: 30px;
    -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 6px 5px 8px 5px rgba(0,0,0,0.94); 
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 6px 5px 8px 5px rgba(0,0,0,0.94);
}
button.btn.btn-danger.shadow {
    margin-left: 150px;
}

.my-div {
    position: absolute;
    top: 70px;
    right: 10px;
    opacity: 1;
    transition: opacity 1s ease;
}
.my-div.hidden {
    opacity: 0;
}